In [36]:
import math  # for rounding up values
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from datetime import datetime  # for strptime
import datetime
import numpy as np
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
from seaborn import heatmap
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline
sns.set()
pd.options.display.max_rows = 4000

df = pd.read_csv('CR_COST_test.csv', converters={ 'COM_ID': str,
                 'PARTY_ID': str, 'PORT_ID': str, 'ETD_POL_D': str, 'CNTR_TYPE': str})

# Selecting columns needed
df.head()

# Showing the data type for each columns
df.info()

,COM_ID,CSL_ID,CNTR_ID,COST_C,COST_DESC,COST_RATE,COST_UNIT,COST_QTY,COST_TERM,PARTY_ID,...,COST_EX_RATE,LOC_AMT,DOC_AMT,POL_ID,POD_ID,VESSEL,ETD_POL_D,ETA_POD_D,CNTR_SIZE,CNTR_TYPE
0,010,ECS010200700675,CTNR010200800805,OF-E-CT-CR,OCEAN FREIGHT,850,CNTR,1,FC,010019363,...,1,"1,178",850,SGSIN,FRLEH,NYK OCEANUS,24/08/2020,19/09/2020,40.0,HC NOR
1,010,ECS010200700090,CTNR010200800652,OF-E-CT-CR,OCEAN FREIGHT,110,CNTR,1,FP,01005728,...,1,151,110,SGSIN,CNYTN,COSCO SHIPPING GALAXY,25/08/2020,30/08/2020,20.0,GP
2,010,ECS010200700568,CTNR010200800466,OF-E-CT-CR,OCEAN FREIGHT,"1,850",CNTR,1,FP,01001591,...,1,"2,563","1,850",SGSIN,MTMAR,CMA CGM LEO,25/08/2020,09/09/2020,40.0,HC
3,010,ECS010200800484,CTNR010200800789,OF-E-CT-CR,OCEAN FREIGHT,"1,041",CNTR,1,FC,010019364,...,1,"1,442","1,041",SGSIN,FRFOS,CMA CGM LEO,25/08/2020,15/09/2020,40.0,HC
4,010,ECS010200700582,CTNR010200800470,OF-E-CT-CR,OCEAN FREIGHT,200,CNTR,1,FP,01008827,...,1,277,200,SGSIN,CNNGB,YM WEALTH,22/08/2020,31/08/2020,40.0,HC

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111440 entries, 0 to 111439
Data columns (total 21 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   COM_ID        111440 non-null  object
 1   CSL_ID        111440 non-null  object
 2   CNTR_ID       111440 non-null  object
 3   COST_C        111440 non-null  object
 4   COST_DESC     111440 non-null  object
 5   COST_RATE     111439 non-null  object
 6   COST_UNIT     109787 non-null  object
 7   COST_QTY      111440 non-null  int64
 8   COST_TERM     111068 non-null  object
 9   PARTY_ID      111440 non-null  object
 10  COST_CURR     111440 non-null  object
 11  COST_EX_RATE  111440 non-null  int64
 12  LOC_AMT       111440 non-null  object
 13  DOC_AMT       111440 non-null  object
 14  POL_ID        111440 non-null  object
 15  POD_ID        111440 non-null  object
 16  VESSEL        111428 non-null  object
 17  ETD_POL_D     111440 non-null  object
 18  ETA_POD_D     111413 non-null  object
 19  CNTR_SIZE     110685 non-null  float64
 20  CNTR_TYPE     111440 non-null  object
dtypes: float64(1), int64(2), object(18)
memory usage: 17.9+ MB

In [37]:
df.isnull().sum().sort_values(ascending=False)/df.shape[0]
df.info()

COST_UNIT       0.014833
CNTR_SIZE       0.006775
COST_TERM       0.003338
ETA_POD_D       0.000242
VESSEL          0.000108
COST_RATE       0.000009
COM_ID          0.000000
LOC_AMT         0.000000
ETD_POL_D       0.000000
POD_ID          0.000000
POL_ID          0.000000
DOC_AMT         0.000000
COST_CURR       0.000000
COST_EX_RATE    0.000000
CSL_ID          0.000000
PARTY_ID        0.000000
COST_QTY        0.000000
COST_DESC       0.000000
COST_C          0.000000
CNTR_ID         0.000000
CNTR_TYPE       0.000000
dtype: float64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111440 entries, 0 to 111439
Data columns (total 21 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   COM_ID        111440 non-null  object
 1   CSL_ID        111440 non-null  object
 2   CNTR_ID       111440 non-null  object
 3   COST_C        111440 non-null  object
 4   COST_DESC     111440 non-null  object
 5   COST_RATE     111439 non-null  object
 6   COST_UNIT     109787 non-null  object
 7   COST_QTY      111440 non-null  int64
 8   COST_TERM     111068 non-null  object
 9   PARTY_ID      111440 non-null  object
 10  COST_CURR     111440 non-null  object
 11  COST_EX_RATE  111440 non-null  int64
 12  LOC_AMT       111440 non-null  object
 13  DOC_AMT       111440 non-null  object
 14  POL_ID        111440 non-null  object
 15  POD_ID        111440 non-null  object
 16  VESSEL        111428 non-null  object
 17  ETD_POL_D     111440 non-null  object
 18  ETA_POD_D     111413 non-null  object
 19  CNTR_SIZE     110685 non-null  float64
 20  CNTR_TYPE     111440 non-null  object
dtypes: float64(1), int64(2), object(18)
memory usage: 17.9+ MB

In [38]:
df1 = df.dropna()
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108669 entries, 0 to 111439
Data columns (total 21 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   COM_ID        108669 non-null  object
 1   CSL_ID        108669 non-null  object
 2   CNTR_ID       108669 non-null  object
 3   COST_C        108669 non-null  object
 4   COST_DESC     108669 non-null  object
 5   COST_RATE     108669 non-null  object
 6   COST_UNIT     108669 non-null  object
 7   COST_QTY      108669 non-null  int64
 8   COST_TERM     108669 non-null  object
 9   PARTY_ID      108669 non-null  object
 10  COST_CURR     108669 non-null  object
 11  COST_EX_RATE  108669 non-null  int64
 12  LOC_AMT       108669 non-null  object
 13  DOC_AMT       108669 non-null  object
 14  POL_ID        108669 non-null  object
 15  POD_ID        108669 non-null  object
 16  VESSEL        108669 non-null  object
 17  ETD_POL_D     108669 non-null  object
 18  ETA_POD_D     108669 non-null  object
 19  CNTR_SIZE     108669 non-null  float64
 20  CNTR_TYPE     108669 non-null  object
dtypes: float64(1), int64(2), object(18)
memory usage: 18.2+ MB

In [39]:
# Remove commas from dataframe
df1.COST_RATE = df1.COST_RATE.apply(lambda x: x.replace(',', ''))

# Converting cost rate column to float
df1['COST_RATE'] = df1['COST_RATE'].map(lambda x: float(x))
df1.head()
df1.info()

# Remove negative values
df1 = df1.drop(df1.index[df1['COST_RATE'] < 0])
df1 = df1.drop(df1.index[df1['COST_QTY'] < 0])

# Visualising Data
print("\n")
print("Total of " + str(len(df1)) +
      " rows left after removing rows contain negative cost values.")
df1.head()

C:\Users\it1\AppData\Local\Temp\ipykernel_34840\3111026290.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.COST_RATE = df1.COST_RATE.apply(lambda x: x.replace(',', ''))
C:\Users\it1\AppData\Local\Temp\ipykernel_34840\3111026290.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['COST_RATE'] = df1['COST_RATE'].map(lambda x: float(x))

,COM_ID,CSL_ID,CNTR_ID,COST_C,COST_DESC,COST_RATE,COST_UNIT,COST_QTY,COST_TERM,PARTY_ID,...,COST_EX_RATE,LOC_AMT,DOC_AMT,POL_ID,POD_ID,VESSEL,ETD_POL_D,ETA_POD_D,CNTR_SIZE,CNTR_TYPE
0,010,ECS010200700675,CTNR010200800805,OF-E-CT-CR,OCEAN FREIGHT,850.0,CNTR,1,FC,010019363,...,1,"1,178",850,SGSIN,FRLEH,NYK OCEANUS,24/08/2020,19/09/2020,40.0,HC NOR
1,010,ECS010200700090,CTNR010200800652,OF-E-CT-CR,OCEAN FREIGHT,110.0,CNTR,1,FP,01005728,...,1,151,110,SGSIN,CNYTN,COSCO SHIPPING GALAXY,25/08/2020,30/08/2020,20.0,GP
2,010,ECS010200700568,CTNR010200800466,OF-E-CT-CR,OCEAN FREIGHT,1850.0,CNTR,1,FP,01001591,...,1,"2,563","1,850",SGSIN,MTMAR,CMA CGM LEO,25/08/2020,09/09/2020,40.0,HC
3,010,ECS010200800484,CTNR010200800789,OF-E-CT-CR,OCEAN FREIGHT,1041.0,CNTR,1,FC,010019364,...,1,"1,442","1,041",SGSIN,FRFOS,CMA CGM LEO,25/08/2020,15/09/2020,40.0,HC
4,010,ECS010200700582,CTNR010200800470,OF-E-CT-CR,OCEAN FREIGHT,200.0,CNTR,1,FP,01008827,...,1,277,200,SGSIN,CNNGB,YM WEALTH,22/08/2020,31/08/2020,40.0,HC

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108669 entries, 0 to 111439
Data columns (total 21 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   COM_ID        108669 non-null  object
 1   CSL_ID        108669 non-null  object
 2   CNTR_ID       108669 non-null  object
 3   COST_C        108669 non-null  object
 4   COST_DESC     108669 non-null  object
 5   COST_RATE     108669 non-null  float64
 6   COST_UNIT     108669 non-null  object
 7   COST_QTY      108669 non-null  int64
 8   COST_TERM     108669 non-null  object
 9   PARTY_ID      108669 non-null  object
 10  COST_CURR     108669 non-null  object
 11  COST_EX_RATE  108669 non-null  int64
 12  LOC_AMT       108669 non-null  object
 13  DOC_AMT       108669 non-null  object
 14  POL_ID        108669 non-null  object
 15  POD_ID        108669 non-null  object
 16  VESSEL        108669 non-null  object
 17  ETD_POL_D     108669 non-null  object
 18  ETA_POD_D     108669 non-null  object
 19  CNTR_SIZE     108669 non-null  float64
 20  CNTR_TYPE     108669 non-null  object
dtypes: float64(2), int64(2), object(17)
memory usage: 18.2+ MB


Total of 106477 rows left after removing rows contain negative cost values.

,COM_ID,CSL_ID,CNTR_ID,COST_C,COST_DESC,COST_RATE,COST_UNIT,COST_QTY,COST_TERM,PARTY_ID,...,COST_EX_RATE,LOC_AMT,DOC_AMT,POL_ID,POD_ID,VESSEL,ETD_POL_D,ETA_POD_D,CNTR_SIZE,CNTR_TYPE
0,010,ECS010200700675,CTNR010200800805,OF-E-CT-CR,OCEAN FREIGHT,850.0,CNTR,1,FC,010019363,...,1,"1,178",850,SGSIN,FRLEH,NYK OCEANUS,24/08/2020,19/09/2020,40.0,HC NOR
1,010,ECS010200700090,CTNR010200800652,OF-E-CT-CR,OCEAN FREIGHT,110.0,CNTR,1,FP,01005728,...,1,151,110,SGSIN,CNYTN,COSCO SHIPPING GALAXY,25/08/2020,30/08/2020,20.0,GP
2,010,ECS010200700568,CTNR010200800466,OF-E-CT-CR,OCEAN FREIGHT,1850.0,CNTR,1,FP,01001591,...,1,"2,563","1,850",SGSIN,MTMAR,CMA CGM LEO,25/08/2020,09/09/2020,40.0,HC
3,010,ECS010200800484,CTNR010200800789,OF-E-CT-CR,OCEAN FREIGHT,1041.0,CNTR,1,FC,010019364,...,1,"1,442","1,041",SGSIN,FRFOS,CMA CGM LEO,25/08/2020,15/09/2020,40.0,HC
4,010,ECS010200700582,CTNR010200800470,OF-E-CT-CR,OCEAN FREIGHT,200.0,CNTR,1,FP,01008827,...,1,277,200,SGSIN,CNNGB,YM WEALTH,22/08/2020,31/08/2020,40.0,HC

In [40]:
# Convert float to integer
df1['CNTR_SIZE'] = df1['CNTR_SIZE'].astype(int)

In [41]:
# Changing column ETD_POL_D from string to date format day/month/year
df1['ETD_POL_D'] = pd.to_datetime(df1['ETD_POL_D'], errors='coerce')
df1['ETA_POD_D'] = pd.to_datetime(df1['ETA_POD_D'], errors='coerce')

for col in ['COST_C','COST_DESC','COST_UNIT','COST_TERM','POL_ID','VESSEL','PARTY_ID', 'POD_ID','CNTR_TYPE','CNTR_SIZE']:
    df1[col] = df1[col].astype(str)
df1.head()
df1.info()

# Exporting it as new dataframe
df1.to_csv("CR_COST_1.csv", index=False)

,COM_ID,CSL_ID,CNTR_ID,COST_C,COST_DESC,COST_RATE,COST_UNIT,COST_QTY,COST_TERM,PARTY_ID,...,COST_EX_RATE,LOC_AMT,DOC_AMT,POL_ID,POD_ID,VESSEL,ETD_POL_D,ETA_POD_D,CNTR_SIZE,CNTR_TYPE
0,010,ECS010200700675,CTNR010200800805,OF-E-CT-CR,OCEAN FREIGHT,850.0,CNTR,1,FC,010019363,...,1,"1,178",850,SGSIN,FRLEH,NYK OCEANUS,2020-08-24,2020-09-19,40,HC NOR
1,010,ECS010200700090,CTNR010200800652,OF-E-CT-CR,OCEAN FREIGHT,110.0,CNTR,1,FP,01005728,...,1,151,110,SGSIN,CNYTN,COSCO SHIPPING GALAXY,2020-08-25,2020-08-30,20,GP
2,010,ECS010200700568,CTNR010200800466,OF-E-CT-CR,OCEAN FREIGHT,1850.0,CNTR,1,FP,01001591,...,1,"2,563","1,850",SGSIN,MTMAR,CMA CGM LEO,2020-08-25,2020-09-09,40,HC
3,010,ECS010200800484,CTNR010200800789,OF-E-CT-CR,OCEAN FREIGHT,1041.0,CNTR,1,FC,010019364,...,1,"1,442","1,041",SGSIN,FRFOS,CMA CGM LEO,2020-08-25,2020-09-15,40,HC
4,010,ECS010200700582,CTNR010200800470,OF-E-CT-CR,OCEAN FREIGHT,200.0,CNTR,1,FP,01008827,...,1,277,200,SGSIN,CNNGB,YM WEALTH,2020-08-22,2020-08-31,40,HC

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106477 entries, 0 to 111439
Data columns (total 21 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   COM_ID        106477 non-null  object
 1   CSL_ID        106477 non-null  object
 2   CNTR_ID       106477 non-null  object
 3   COST_C        106477 non-null  object
 4   COST_DESC     106477 non-null  object
 5   COST_RATE     106477 non-null  float64
 6   COST_UNIT     106477 non-null  object
 7   COST_QTY      106477 non-null  int64
 8   COST_TERM     106477 non-null  object
 9   PARTY_ID      106477 non-null  object
 10  COST_CURR     106477 non-null  object
 11  COST_EX_RATE  106477 non-null  int64
 12  LOC_AMT       106477 non-null  object
 13  DOC_AMT       106477 non-null  object
 14  POL_ID        106477 non-null  object
 15  POD_ID        106477 non-null  object
 16  VESSEL        106477 non-null  object
 17  ETD_POL_D     106476 non-null  datetime64[ns]
 18  ETA_POD_D     106472 non-null  datetime64[ns]
 19  CNTR_SIZE     106477 non-null  object
 20  CNTR_TYPE     106477 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(2), object(16)
memory usage: 17.9+ MB